$header-font: 'Montserrat', 'Gotham', Helvetica, sans-serif;
$body-font: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;

$sidebar-width: 320px;

@mixin plain-link {
    color: inherit;
    text-decoration: inherit;
}

@function rel-width($num, $sidebar) {
    @if $sidebar {
        @return calc(#{$num / 100} * (100vw - #{$sidebar-width}));
    } @else {
        @return calc(#{$num} * 1vw);
    }
}

@mixin rel-width($property, $num) {
    .sidebar-open & {
        #{$property}: rel-width($num, true);
    }
    .sidebar-closed & {
        #{$property}: rel-width($num, false);
    }
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    font-family: $header-font;
    margin: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.content {
    position: relative;
    height: 100%;
    flex-grow: 1;
}

.pages {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#sidebar {
    background-color: #ff4;
    width: $sidebar-width;
    transition: left 0.3s;
    height: 100%;
    padding: 3em;
    box-sizing: border-box;
    transition: margin-left 0.3s;
    position: relative;

    .sidebar-closed & {
        margin-left: - $sidebar-width;
    }

    li {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }

    a {
        @include plain-link;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1em;
    }
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#sidebar-button {
    border: none;
    color: black;
    background-color: transparent;
    margin: 0.5em;
    font-size: 50px;
    cursor: pointer;
}

.page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100%;

    > footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 1em;
        font-family: $body-font;
        color: #f66;
    }
}

.header {
    font-size: 6vw;
    text-align: center;
    font-weight: normal;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .pair {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .person {
        display: block;
        margin: 0 2em;
        @include plain-link;

        max-width: 15vw;

        img {
            display: block;
            width: 20em;
            max-width: 100%;
            border-radius: 50%;
        }

        h3 {
            text-align: center;
        }
    }
}

// @media (max-width: 768px) {
//     #sidebar {
//         margin-left: -250px;
//     }
//     #sidebar.active {
//         margin-left: 0;
//     }
// }