html {
    height: 100%;
}

body {
    font-family: 'Montserrat', Helvetica;
    margin: 0;
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100%;
}

body {
    padding-left: 20vw;
    transition: padding-left 0.3s;
}
body.sidebar-closed {
    padding-left: 0;
}

button {
    border: none;
    color: black;
    background-color: white;
    margin: 0.5em;
    font-size: 50px;
    cursor: pointer;
}

#sidebar {
    background-color: #FFF444;
    width: 20vw;
    position: absolute;
    left: 0;
    transition: left 0.3s;
    top: 0;
    height: 100%;
    padding: 3em;
    box-sizing: border-box;
}

.sidebar-closed #sidebar {
    left: -20vw;
}

#sidebar li {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

#sidebar a {
    color: inherit;
    text-decoration: inherit;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    font-size: 800%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}