/*
COLOUR SCHEME:
#FFF444 (Lemon Yellow)
#1A535C (English Green)
#4ECDC4 (Medium Turquoise)
#F7FFF7 (Mint Cream)
#FF6B6B (Pastel Red)
*/

html,body {
    height: 100%;
  }

button {
    border: none; 
    color: black; 
    font-size: 50px; 
    cursor: pointer; 
}

h1 {
    font-family: 'Montserrat'
}

.sidebar{
    background-color: #FFF444;
}

.col-0{
    width: 0px;
}